.advantages {

}

.advantages__intro-slogan {
  margin: 30px 17px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__intro-header {
  margin: 0 17px 30px;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__item {
  &--accent {
    padding: 40px 0;
    color: #ffffff;
    text-align: center;
    background-color: #81B3D2;

    &:nth-child(1) {
      padding-top: 55px;
      padding-bottom: 40px;
    }
  }

  &--base {
    padding-right: 40px;
    padding-left: 70px;
  }

  &--gray {
    padding: 25px 20px;
    text-align: center;
    background-color: #EEEEEE;
  }
}

.advantages__header {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__description {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;

  &--gray {
    padding: 0 20px;
  }

  &--border {
    padding-bottom: 25px;
    border-bottom: 1px solid #D6D6D6;
  }
}
