.advantages {

}

.advantages__intro-slogan {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__intro-header {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}

.advantages__list {

}

.advantages__item {

}

.advantages__item--accent {
  background-color: #81B3D2;
  color: #ffffff;
}

.advantages__item--base {

}

.advantages__item--gray {

}

.advantages__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
