.designer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.designer__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  text-transform: uppercase;

}

.designer__link {
  margin-left: 22px;
}

.designer__logo {

}
