.form-intro {

}

.form-intro__header {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.form-intro__text {
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
}
