.page-footer {

}

.page-footer__hashtag-link {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer__social-list {

}

.page-footer__designer {

}
