.page-footer {
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding-top: 38px;
  padding-bottom: 23px;
}

.page-footer__hashtag-link {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer__social-list {

}

.page-footer__designer {

}
