.search {
  padding: 0 20px;
}

.search__interesting {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.search__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.search__link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
background: #81B3D2;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58px;
}
