.video {}

.video__intro-bold {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.video__intro-slim {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
}

.video__player {}

.video__control {}

.video__button {}

.video__button--restart {}

.video__progress {}

.video__scale {}

.video__bar {}

.video__toggle {}

.video__button--cc {}

.video__button--fullscreen {}
