.welcome {
  background: url("../img/bg-intro-triangle-mobile.svg"),
              url("../img/bg-back-mobile@1x.jpg");
  background-size: 105%, cover;
  background-position: bottom center, center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0 85px;
}

.welcome__intro {

}

.welcome__intro--main-page {

}
